<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout/layout :: layout(content=~{::content})}">

<th:block th:fragment="content">
<div th:if="${error}" class="alert alert-danger text-center" th:text="${error}"></div>

	<div class="row justify-content-center">
		<div class="col-md-5">

			<div class="card mt-5 shadow-sm">
				<div class="card-body">

					<h4 class="text-center mb-3">계정 복구</h4>

					<form th:action="@{/account/restore}" method="post">
						<input type="hidden" name="username" th:value="${param.username}" />

						<div class="mb-3">
							<label class="form-label">비밀번호 확인</label> <input type="password"
								name="password" class="form-control" required>
						</div>

						<button type="submit" class="btn btn-dark w-100">계정 복구하기</button>
					</form>

				</div>
			</div>

		</div>
	</div>

</th:block>
</html>
