<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>

<h2>로그인</h2>

<form th:action="@{/login}" method="post">
    <div>
        <label>아이디</label>
        <input type="text" name="username">
    </div>

    <div>
        <label>비밀번호</label>
        <input type="password" name="password">
    </div>

    <button type="submit">로그인</button>
</form>

<a th:href="@{/register}">회원가입</a>

<!-- 🔔 로그인 실패 알림 -->
<script th:if="${param.error}">
    alert('존재하지 않는 사용자이거나 비밀번호가 올바르지 않습니다.');
</script>

</body>
</html>
