spring:
  profiles:
    active: dev # 아무 설정 없으면 기본적으로 로컬(dev) 모드 실행

  messages:
    basename: messages
    encoding: UTF-8
    fallback-to-system-locale: true

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html

  mvc:
    hiddenmethod:
      filter:
        enabled: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: kmh000904@gmail.com
    password: sloejykunbgsmrdr
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true